<header>
  <nav>
    <h1>{{ title }}</h1>
  </nav>
</header>

<div class="align-center">
  <h2>Login</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <input placeholder="Email" type="email" formControlName="email" required />
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.email">
        <div
          class="error-message"
          *ngIf="
            myForm.controls['email'].hasError(error.type) &&
            (myForm.controls['email'].dirty || myForm.controls['email'].touched)
          "
        >
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <input
      placeholder="Password"
      type="password"
      formControlName="password"
      required
    />
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div
          class="error-message"
          *ngIf="
            myForm.controls['password'].hasError(error.type) &&
            (myForm.controls['password'].dirty ||
              myForm.controls['password'].touched)
          "
        >
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <div class="btn-div">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
