<div class="container">
  <app-header></app-header>
  <!-- <router-outlet></router-outlet>  -->
  <div class="align-center">
    <h2>Login</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
      <input
        placeholder="user@hamoye.com"
        type="text"
        name="email"
        [(ngModel)]="user.email"
      />
      <input
        placeholder="******"
        type="password"
        name="password"
        [(ngModel)]="user.password"
      />
      <div class="btn-div">
        <button type="submit" [disabled]="!myForm.valid" routerLink="dashboard" class="login-btn">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
