<header>
  <nav>
    <h1>{{ title }}</h1>
    <button (click)="handleLogout()">Log out</button>
  </nav>
</header>

<div class="dashboard">
  <h3>Flights arriving and departing from all airports</h3>
  <div class="flights">
    <table id="flights-table">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">
            {{ head }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ngx-spinner type="ball-beat"></ngx-spinner>
        <tr
          *ngFor="
            let item of flights
              | paginate : { itemsPerPage: 20, currentPage: p };
            let i = index
          "
        >
          <td>
            {{ item.icao24 || "N/A" }}
          </td>
          <td>{{ item.firstSeen || "N/A" }}</td>
          <td>{{ item.estArrivalAirport || "N/A" }}</td>
          <td>{{ item.estDepartureAirport || "N/A" }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
